h1::after {
  content: "";
  width: 5px;
  height: 40px;
  transform: rotate(45deg);
  background-color: red;
  display: inline-block;
  margin-left:20px ;
  
}

h1::before {
  content: "";
  width: 5px;
  height: 30px;
  transform: rotate(-45deg);
  background-color: red;
  display: inline-block;
margin-right: 20px;
}
