@charset "utf-8";

body{
  font-family: 'メイリオ',serif;
}

h1{
  color: red;
  display: inline-block;
  border-bottom: 4px dotted blue;

}

h2{
  
  opacity: 0.5;
}


nav{
  border: 5px solid green;
  width: 650px;
}

nav span{
  color:#00BD00 ;
  
}

a{
  color: blueviolet;
  

}
