@charset "utf-8";


.contact-wrapper{
  max-width: 800px;
  width: 100%;
  margin: auto;
}

@media(max-width:480px){
  .container{
    width: 60%;
  }
}

form{
  background-color: #f0f0f0;
  padding:1.5rem  ;
  border-radius: 5px;
}

.field-item{
margin-bottom:1rem ;
}

label{
  display: flex;
  flex-direction: column;
}

label span p{
  display:inline-block;
  background: rgb(255, 36, 127);
  margin-top: 0;
  font-size: 0.7rem;
  color: white;
  padding:0.2rem ;
  border-radius: 5px;
}


.field-item input,
.field-item select,
.field-item textarea{
  padding: 0.5rem;
  border:1px solid aliceblue;
  border-radius: 5px;
}

textarea {
  width:100%;
  height:100px;
  }

.btn-wrapper{
  margin:1rem auto ;
  text-align: center;
}

.btn-wrapper input[type='submit']{
  padding:0.5rem;
  background-color: rgba(23, 186, 255, 0.963);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}